@page "/auth"

@using Microsoft.AspNetCore.Authorization

@attribute [Authorize(Roles = "Admin") ]

<PageTitle>Auth</PageTitle>

<h1>You are authenticated</h1>

<AuthorizeView>
    Hello @context.User.Identity?.Name!
</AuthorizeView>

@* Etiqueta para autorizaciones de roles. *@
<AuthorizeView Roles="Admin">
    Hello @context.User.Identity?.Name!
    <input type="button" value="Solo para Admin" />
</AuthorizeView>
