@page "/"
<div class="d-flex justify-content-center align-items-center min-vh-100 fondo-personalizado">
    <div class="card shadow-lg p-5 w-100 text-center" style="max-width: 900px; border-radius: 20px;">
        <div class="mb-4">
            <i class="bi bi-bar-chart-line-fill fs- display-1 text-success"></i>
            @* <h2 class="mt-2 fw-semibold">SmartBudget</h2> *@
        </div>

        <h2 class="text-black fw-semibold mb-2">Bienvenido a tu asistente financiero empresarial SmartBudget!</h2>
        
        <p class="text-muted">Controla tus gastos, maximiza tus ganancias</p>

        <hr class="my-4">

        <h5 class="fw-bold mb-3">¿Desea iniciar sesión?</h5>
        <a href="/Account/Login" class="w-20 btn btn-success btn-lg mx-auto d-block bi bi-box-arrow-in-right"
           style="border-radius: 10px; font-size: 18px; font-weight: 500;">
             Iniciar sesión
        </a>
    </div>
</div>
