@using Microsoft.AspNetCore.Identity
@using SmartBudgetApp.Data

@inject SignInManager<ApplicationUser> SignInManager

<div class="container">
    <ul class="nav nav-pills flex-column">
        <li class="nav-item">
            <NavLink class="nav-link" href="Account/Manage" Match="NavLinkMatch.All">
                <i class="bi bi-person-fill"></i> Profile
            </NavLink>
        </li>

        @*  
        <li class="nav-item">
            <NavLink class="nav-link" href="Account/Manage/Email">
                <i class="bi bi-envelope-fill"></i> Email
            </NavLink>
        </li> 
        *@

        <li class="nav-item">
            <NavLink class="nav-link" href="Account/Manage/ChangePassword">
                <i class="bi bi-key-fill"></i> Change Password
            </NavLink>
        </li>

        @if (hasExternalLogins)
        {
            <li class="nav-item">
                <NavLink class="nav-link" href="Account/Manage/ExternalLogins">
                    <i class="bi bi-box-arrow-in-right"></i> External Logins
                </NavLink>
            </li>
        }

        <li class="nav-item">
            <NavLink class="nav-link" href="Account/Manage/TwoFactorAuthentication">
                <i class="bi bi-shield-lock-fill"></i> Two-factor Authentication
            </NavLink>
        </li>

        <li class="nav-item">
            <NavLink class="nav-link" href="Account/Manage/PersonalData">
                <i class="bi bi-person-lines-fill"></i> Personal Data
            </NavLink>
        </li>
    </ul>
</div>

@code {
    private bool hasExternalLogins;

    protected override async Task OnInitializedAsync()
    {
        hasExternalLogins = (await SignInManager.GetExternalAuthenticationSchemesAsync()).Any();
    }
}
