@implements IDisposable

@inject NavigationManager NavigationManager

<div class="top-row ps-3 navbar navbar-dark bg-black d-flex justify-content-center" style="height: 50px;">
    <a class="navbar-brand mt-3 text-white" href="" style="font-family: 'Handlee', cursive; font-size: 35px;">
        SmartBudget
    </a>
</div>


<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
   
    <nav class="nav flex-column ">
        <div class="nav-item px-3 mt-5 ">
            <NavLink class="nav-link" href="/" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>
      

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/Ingresos/Index" Match="NavLinkMatch.All">
                <span class="bi bi-cash-coin  fs-5 d-flex align-items-center" aria-hidden="true"></span> Ingresos
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Gastos/Index" Match="NavLinkMatch.All">
                <span class="bi bi-credit-card  fs-5 d-flex align-items-center" aria-hidden="true"></span> Gastos
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Facturas/Index" Match="NavLinkMatch.All">
                <span class="bi bi-receipt-cutoff  fs-5 d-flex align-items-center" aria-hidden="true"></span> Facturas
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Ventas/Index" Match="NavLinkMatch.All">
                <span class="bi bi-bag-check-fill  fs-5 d-flex align-items-center" aria-hidden="true"></span> Ventas
            </NavLink>
        </div>
        <AuthorizeView Roles="Admin">
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="Categorias/Create" Match="NavLinkMatch.All">
                    <span class="bi bi-bag-check-fill  fs-5 d-flex align-items-center" aria-hidden="true"></span> Categorias
                </NavLink>
            </div>
        </AuthorizeView>
        
      

       @*  <div class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Counter
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="weather">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Weather
            </NavLink>
        </div> *@

        @* <div class="nav-item px-3">
            <NavLink class="nav-link" href="auth">
                <span class="bi bi-lock-nav-menu" aria-hidden="true"></span> Auth Required
            </NavLink>
        </div> *@
       
       
        <AuthorizeView>
            <Authorized>
                <hr class="my-2" style="height: 35vh;" />
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="Account/Manage">
                        <span class="bi bi-person-fill-nav-menu" aria-hidden="true"></span> Mi Perfil
                        @* @context.User.Identity?.Name *@
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <form action="Account/Logout" method="post">
                        <AntiforgeryToken />
                        <input type="hidden" name="ReturnUrl" value="@currentUrl" />
                        <button type="submit" class="nav-link">
                            <span class="bi bi-arrow-bar-left-nav-menu" aria-hidden="true"></span> Logout
                        </button>
                    </form>
                </div>
            </Authorized>
            <NotAuthorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="Account/Register">
                        <span class="bi bi-person-nav-menu" aria-hidden="true"></span> Register
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="Account/Login">
                        <span class="bi bi-person-badge-nav-menu" aria-hidden="true"></span> Login
                    </NavLink>
                </div>
            </NotAuthorized>
        </AuthorizeView>
    </nav>
</div>

@code {
    private string? currentUrl;

    protected override void OnInitialized()
    {
        currentUrl = NavigationManager.ToBaseRelativePath(NavigationManager.Uri);
        NavigationManager.LocationChanged += OnLocationChanged;
    }

    private void OnLocationChanged(object? sender, LocationChangedEventArgs e)
    {
        currentUrl = NavigationManager.ToBaseRelativePath(e.Location);
        StateHasChanged();
    }

    public void Dispose()
    {
        NavigationManager.LocationChanged -= OnLocationChanged;
    }
}

